<div id="<%= dom_id collection %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= collection.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= collection.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= collection.description %>
  </p>

</div>
